<footer>
  <small>
    Site de-Wordpressed by <a href="https://happeninginteractive.com">Happening Interactive</a>. Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
  </small>
</footer>
