---
permalink: /weather-warlock-full-band-at-gonerfest/
---

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather for the blind</title>

    <!-- Bootstrap -->
    <link href="/_includes/assets/css/bootstrap.min_UPu8.css" rel="stylesheet">

    <link rel="stylesheet" href="/_includes/assets/css/style_UPu8.css" type="text/css" media="screen">
    <link href="/_includes/assets/css/slicknav_UPu8.css" rel="stylesheet">
    <link href="/_includes/assets/css/css_UPu8.css" rel="stylesheet" type="text/css">
    <link href="/_includes/assets/css/font-awesome.min_UPu8.css" rel="stylesheet">
</head>
<body>

    <div id="header" class="wrapper notFixed">
      <div id="logo1">
        <a href="/"><img src="/static/img/mainLogo1_UPu8.png" alt="" class="img-responsive"></a>
      </div>
      <div id="nav">
        <ul>
          <li><a href="/#levelOne">HOME</a></li>
          <li><a href="/#levelTwo">ABOUT</a></li>
          <li><a href="/#levelThree"> AUDIO ARCHIVES</a></li>
          <li><a href="/#footer">CONTACT/DONATE</a></li>
        </ul>
      </div><!--endnav-->
    </div><!--endheader-->

    <div id="newsLevel" class="wrapper">
      <div class="singleWrapper container">
        <h1 class="title">WEATHER WARLOCK – FULL BAND DEBUT AT GONERFEST</h1>
        <div class="content">
          <p>CHECK OUT THE WEATHER WARLOCK <a href="http://www.weatherwarlock.com/" target="_blank">BAND WEBSITE</a>&nbsp;FOR VIDEO OF THIS SHOW, RECORDINGS OF THIS LINE UP, AND FUTURE TOUR DATES.</p>
          <p style="text-align: center;"><a href="/static/img/gonerfest-band.jpg" target="_blank"><img class="aligncenter wp-image-94 size-large img-responsive" src="/static/img/gonerfest-band.jpg" alt="2014-09-18 00.20.53" width="768" height="1024"></a></p>
          <p style="text-align: center;">Q, Aaron, Gary&nbsp;– &nbsp;photo by Bailee Brouyard</p>
        </div>
      </div>
    </div><!--endnewsLevel-->

    <div id="footer">
      <div class="footy" style="float:left;">
        <h5>CONTACT</h5>
        <a href="mailto:rhinestonerecords@hotmail.com">rhinestonerecords@hotmail.com</a>
        <h5>DONATE</h5>
        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="business" value="rhinestonerecords@hotmail.com">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="item_name" value="Weather For The Blind">
          <input type="hidden" name="no_note" value="0">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
          <input type="image" src="/static/img/btn_donate_SM_UPu8.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="/static/img/pixel_UPu8.gif" width="1" height="1" class="img-responsive">
        </form>
      </div>
    </div><!--endfooter-->

    <script type="text/javascript" src="/_includes/assets/js/jquery.min_002_UPu8.js"></script>
    <script type="text/javascript" src="/_includes/assets/js/jquery.slicknav.min_UPu8.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#nav').slicknav();
        $('img').addClass('img-responsive');
      });
    </script>
</body>
</html>
